Rabc.Core/.vs
Rabc.Core/Rabc.Core.Api/obj
Rabc.Core/Rabc.Core.Api/bin
Rabc.Core/Rabc.Core.Auto/obj
Rabc.Core/Rabc.Core.Auto/bin
Rabc.Core/Rabc.Core.Common/obj
Rabc.Core/Rabc.Core.Common/bin
Rabc.Core/Rabc.Core.IServices/obj
Rabc.Core/Rabc.Core.IServices/bin
Rabc.Core/Rabc.Core.Model/obj
Rabc.Core/Rabc.Core.Model/bin
Rabc.Core/Rabc.Core.Repository/obj
Rabc.Core/Rabc.Core.Repository/bin
Rabc.Core/Rabc.Core.Services/obj
Rabc.Core/Rabc.Core.Services/bin
Rabc.Core/Rabc.Core.Extensions/obj
Rabc.Core/Rabc.Core.Extensions/bin

